# Dependencies
node_modules/
.npm-cache/

# Build output
out/
dist/
*.tsbuildinfo

# VS Code / editor
.vscode-test/
.vscode/*.log

# Packaging
*.vsix

# Test / coverage
coverage/

# OS
Thumbs.db
.DS_Store

# 开发过程中记录的文档不用上传
notes/
